html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.main_menu{
    height: 50px;
    background: #222222;
}
.main_menu .navbar-brand{
    color: #e87d13;
    font-size: 30px;
    font-family: cursive;
    font-weight: 800;
}

.main_menu .navbar-nav .nav-item .nav-link{
    color: #fff;
    font-size: 16px;
    font-family: monospace;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 10px;
    position: relative;
    transition: all linear .4s;
}
.main_menu .navbar-nav .nav-item .nav-link::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #e87d13;
    transition: all linear .4s;
}
.main_menu .navbar-nav .nav-item .nav-link:hover{
    color: #313131;
    background: #ddd;
    
}

.main_menu .navbar-nav .nav-item .nav-link:hover::after{
   width: 100%;
    
}

/*-- banner part--*/

.banner_item{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    padding: 200px 0 100px;
    position: relative;
    z-index: 1;
}

.banner_item:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.6);
    z-index: -1;
}
.banner_text h1{
    color: #e87d13;   
    font-family: cursive;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 0;
}

.banner_text p{
    color: #ddd;
    font-family: serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 80px;
    margin-top: -15px;
}

/*-- about part --*/

#about_part{
    background: #ddd;
    padding: 60px 0;
}

.about_head h2{
    color: #e87d13;  
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.about_head p{
    color: #645a5a;  
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 18px;
    padding: 10px 180px;
}

/*-- services --*/

#services_part{
    padding: 60px 0;
}
.services_head h2{
    color: #e87d13;  
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.card{
    margin-top: 40px;
}

/*--- testimonial part --*/

#test_part{
    padding: 60px 0;
}
.test_head h2{
    color: #e87d13;  
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: -5px;
}


.test_inner{
    margin-top: 30px;
}
.test_inner p{
    color: #222;
    padding: 0 10px;
}


.test_inner img{
    max-width: 100%;
}

.test_inner h5{
    color: #222;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.test_inner ul{
    list-style: none;
}
.test_inner ul li{
    color: #444;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    padding: 10px 5px;;
    margin: 10px 0;
    background: #ede9e9;
}

/*--- conatact part --*/

#contact_part{
    background: #ddd;
    padding: 60px 0;
}
.contact_head h2{
    color: #e87d13;  
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: -5px;
}


.google_map{
    margin-top: 40px;
}

.contact_form{
    margin-top: 40px;
}

/*-- footer part ---*/

.footer_part{
    background: #313131;
    padding-top: 20px;
}

.footer_part p{
    color: #f2f2f2;
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}

.footer_part a{
    color: #f2f2f2;
    padding: 10px 0;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
}








